/* use: var(--gradient-main); */
:root {
  --color-primary-0: #2a002c;
  --color-primary-50: #3a0271;
  --color-primary-100: #010340;

  /* 버튼 색상 */
  --color-button-primary: #a730b0;
  --color-button-secondary: #5b00b2;
  --color-button-tertiary: #525252;

  /* 텍스트 강조 색상 */
  --color-text-highlight: #ff82ff;

  /* 포인트 배경색 (로고/저축 버튼) */
  --color-accent-light: #fce5ff;

  --gradient-main: linear-gradient(10.6deg, #2a002c 14.09%, #3a0271 53.43%, #010340 87.16%);
}
