.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  gap: 8%;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.logo {
  width: 100%;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2%;
  width: 100%;
}

.loadingBar {
  width: 80%;
  height: 1.8vh;
  background: white;
  border-radius: var(--radius-card);
  overflow: hidden;
}

.progress {
  height: 100%;
  background: linear-gradient(black, white);
  width: 0%;
  animation: grow 4s linear forwards;
}

@keyframes grow {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
